@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.foto_cv{
    width: 350px;
}

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    margin: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.presentacion__enlaces_subtitulo{
    margin-top: 30px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.presentacion__enlaces__link{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 380px;
    text-decoration: none;
    padding: 15px 0;
    border-style: solid;
    border-width: 2px;
    border-color: #22D4FD;
    border-radius: 16px;
    
}

.presentacion__enlaces__link:hover {
    background-color: #22D4FD;
    color: #1a1a1a;
    border-color: gray;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}



